/* body { */
    
    /* background-image: url("https://image.shutterstock.com/image-vector/vector-realistic-isolated-neon-sign-260nw-1182783112.jpg"); */
    /* background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0px 0px 5px skyblue; */
    
    
/* } 
button {
    box-shadow: 0px 0px 5px lightgreen;
}